.results .result {
    overflow-y: hidden;
    max-height: 200px;
	transition-property: all;
	transition-duration: 1s;
}
.results .result.no-animations {
	transition-property: none;
	transition-duration: 0;
}
.results .result.hideResult {
    max-height: 0;
    margin-bottom: 0;
    opacity:.5;
}
.results .result.hideResult.enabled {
    max-height: 200px;
    margin-bottom: inherit;
}
.results .result .hideShowLink {
    float:right;
    display:none;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.result__menu {
    width: 15% !important;
}
.results .result.highlight .hideShowLink {
    display:inline-block;
}
.results .result.highlight .hideShowLink span {
    font-weight: bold;
    font-size: 12px;
}
